<div data-aos="fade-in" class="home-page" style="text-align: center; margin-top: 10%;">
    <h1>WELCOME TO THE LARGEST CLUB ON CAMPUS</h1>
    <br /> 
    <p> This application will be used for the Point Park Uno Club. It will give information about the Uno-Club, have user signup, viewing past tourneyment results, and maybe even practice on the website.</p>
    <br /> 
    <p>This application will use Node.js, express, handlebars,mysql, instagram API, bootstrap, font-awesome, and loading.io</p>
    <p> Sign up up here! </p>
    <br>
    <p> Join our winners! </p>
    <br>
    <p> find our next tournament! </p>
    <br>
    <p> play now! </p>
</div>